@import url('https://fonts.googleapis.com/css?family=Montserrat|Sunflower:300');

body{
	background-color: #191919;
	letter-spacing: 3px;
}

#heading{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

h1{
	color: white;
	font-family: 'Sunflower','sans-serif';
}

i{
	color: #ff7f7f;
}

#btn{
	background-color: transparent;
	border: none;
	transition: 0.3s;
}

#btn:hover{
	transform: scale(1.5);
	opacity: 0.8;
}

#btn:focus{
	outline: 0;
}

.card{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px;
  background-color: #323232;
}

.card-header{
	color: #ff7f7f;
	font-family: 'Sunflower',sans-serif;
	font-size: 35px;
}

.card-body{
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.card-footer{
	text-align: center;
}

.btnprev, .btnnext{
	background-color: transparent;
	border: none;
	color: #ff7f7f;
	font-family: 'Sunflower',sans-serif;
	font-size:25px;
}


.btnprev,.btnnext span{
	cursor: pointer;
	transition: 0.5s;
}

.btnprev span:after{
	content: '\003c';
	position: absolute;
	opacity: 0;
	top: 0;
	left: -10px;
	transition: 0.5s;
}

.btnprev span:hover{
	padding-left: 15px;
}

.btnprev:hover span:after{
	opacity: 1;
  	left: 0;
}

.btnnext span:after{
	content: '\003e';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -10px;
	transition: 0.5s;
}

.btnnext span:hover{
	padding-right: 15px;
}

.btnnext:hover span:after{
	opacity: 1;
  	right: 0;
}

.btn.btnprev:focus, .btn.btnnext:focus{
	outline:0;
}